
services:
  app:
    build: .
    container_name: notes-app
    ports:
      - "8082:8081"
    depends_on:
      - db
    env_file:
      - .env.prod
    environment:
      SPRING_PROFILES_ACTIVE: prod
      PORT: 8081

    healthcheck:
        test: [ "CMD", "curl", "-f", "http://localhost:8081/ready" ]
        interval: 20s
        timeout: 5s
        retries: 3

  db:
    image: postgres:16
    container_name: notes-db
    environment:
      POSTGRES_USER: notes
      POSTGRES_PASSWORD: notes
      POSTGRES_DB: notesdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:


